
<center><h2>OM SAI RAM</h2></center>
<table border="1" width="100%">
    <table border="1" cellpadding="10" cellspacing="0" width="100%">
        <tr>
            <th width="30%" rowspan="4" colspan="4">{StoreName}</td>
            <th width="40%" rowspan="1" colspan="4">GST INVOICE</td>
            <th width="30%" rowspan="4" colspan="4">Party Name : {PartyName}</td>
        </tr>
        <tr>
            <td>Invoice No</td>
            <td>Invoice Date</td>
            <td>Payment Mode</td>
            <!-- <td>Cases</td> -->
        </tr>
        <tr>
            <td>{InvoiceNumber}</td>
            <td>{InvoiceDate}</td>
            <td>{paymentMode}</td>
            <!-- <td></td>             -->
        </tr>
    </table>
    <table border="1" cellpadding=10 cellspacing=0 style="text-align:center;border-top:none" width="100%">
        <tr>
            <th width="10%">SN.</th>
            <th width="40%">Product Name</th>
            <th width="10%">MRP</th>
            <th width="10%">QTY</th>
            <th width="10%">Discount</th>
            <th width="10%">CGST</th>
            <th width="10%">SGST</th>
            <th width="10%">Amount</th>
        </tr>
        {medRow}
        <tr style="background:rgba(0,0,0,0.2);font-size:20px;">
            <td colspan="2">Total Amount To Pay</td>
            {total}
        </tr>
    </table>    
</table>
<!-- <table border="1" style="position:fixed;bottom:0;width:100%" cellpadding=10 cellspacing=0>
    <tr>
        <td>sdf</td>
        <td>sdf</td>
    </tr>
</table> -->