<html>
    <div>
        
        <div style="display: flex;flex-direction: row;">
            <div style="width:100%">
                <h3>Company</h3>
                <p>Address</p>
                <p>Phone</p>
                <p>GST</p>
            </div>
            <div style="width:100%;float: right;text-align: right;">
                <h2>Inovice</h2>
                <p>Date : 12 Sep 2012</p>
                <p>invoice Number : 8989</p>
            </div>
        </div>
        <div>
            <h5>Bill to</h5>
            <p>Name</p>
            <p>Age</p>
            <p>Gender</p>
        </div>


    </div>
</html>