/* .main{
    margin-top: 20px;
} */
.i_row{
    margin-bottom: 10px;
}
/* div,.navbar{
    width: 100%;
} */
body{
    background-color: #EDEDEE;
}
::-webkit-scrollbar {
    width: 5px;
    height: 7px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #525965;
    border: 0px none #ffffff;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #525965;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #525965;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: transparent;
  }
  ::-webkit-scrollbar-track:active {
    background: transparent;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  .breadcrumb li{
      font-size: 0.8em;
  }

.topHeading{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}


.topHeading h2{
    font-family: nfontB;
    font-weight: bold;
    font-size: 30px;
    /* margin-bottom: 20px; */
    width: 100%;
    padding: 10px;
}

/* .createform{
    padding: 10px;
} */
/* .createform div{
    width: 100%;
} */
.i_row div{
    padding: 0px 10px 0px 10px;
    width: 100%;
}
.main-container{
    /* max-width: 1000px; */
    padding: 0 2em 2rem 2rem;
}


.my-d{
    display:none;
    position:absolute;
    width:100%;
    z-index:10;
    background:white;
    box-shadow:0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}
#nprogress .bar {
    background: linear-gradient(to right,#00c4a7,#276cda,#00c4a7) !important;
  }
  
  #nprogress .spinner-icon {
    border-top-color: #00d1b2 !important;
    border-left-color: #00d1b2 !important;
  }

.d-item{
    padding:5px;
}
.dd-active{
    display:block
}
.dn{
    display:none
}
.dd-list{
    position:absolute;
    width:100%;
    background:white;
    max-height:100px;
    overflow:scroll;
    z-index:100;
    box-shadow:0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}


._list{
    background: 'white';
    z-index:1;
    position: absolute;
    width: 200px;
    border:1px solid rgba(0,0,0,0.2)
}

._list ._list-item{
    /* padding: 5px; */
    padding: 5px;
    font-size: 13px;
    overflow: auto;
    font-weight: bold;
    cursor: pointer;
}
.menu-list .child_{
    display: none;
}

.active .child_{
    display: block;
}

/* .active .child{
    display: block;
} */
._list ._list-item:hover{
    /* background-color: lightgray; */
    border-right: 3px solid #00d1b2;
}
.left{
    float: left;
}
.right{
    float: right;
}
.left-1{
    width: 30%;
    align-self: center;
    font-size: 15px;
    font-weight: lighter;
}
.right-1{
    width: 40%;
    font-family: nfont;
}
.out{
    overflow: auto;
    display: flex;
    padding: 15px 0 15px;
    border-bottom:1px solid #e4eef2
}
._list-item .right{
    font-size: 11px;
    font-weight: normal;
}

td,th{
    color: black;
}
td{
    font-size:14px;
}
thead{
    background: linear-gradient(to right,#00c4a7,#276cda) !important;
}
th{
    font-size:15px;
}

.data{
    margin-top:50px;
}

.label{
    color: #363636;
display: block;
font-size: 1rem;
font-weight: 700;
font-size: 13px;
align-self: center;
}

.ctable th{
    font-size: 13px;
}
.container{
    padding-top: 10px;
}
.columns{
    margin: 0 !important;
}

._heading{
    font-weight: 600;
    /* color: black; */
    text-transform: capitalize;
    cursor: pointer;
    font-family: nfontb;
}
tr{
   font-family: nfont; 
}
th{
    font-family: nfontb;
}
._heading .sub{
    font-size:0.9em;
    text-transform:lowercase;
    font-weight:normal;
    color:grey;
    display: block;
    font-family: nfont;
}

.s_menu{
    display: none;
}
.s_menu .s_menuitem{
    padding: 5px;
}
.s_menu:hover{
    display: block;
}


.w30{
    width:30%
}
.w20{
    width: 20%;
}
.mw300{
    max-width: 250px;
}

.mw200{
    max-width: 200px;
}


td
{
 /* max-width: 100px; */
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}

.table.is-hoverable tbody tr:not(.is-selected):hover {
    background-color: #EDEDEE;
}
.is-small{
    font-size:0.85rem !important;
    /* font-weight: bold; */
}
.w10{
    width:10%
}
.w5{
    width:5%;
}
.model-title{
    font-size: 1.2em;
}

@media only screen and (max-width: 600px) {
    .main-container{
        padding: 0 10px 10px 10px;
    }}

