.custom-brand{
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
}
.cnavbar-item{
    visibility: hidden;
    width: 100%;
}
.navbar{
    border-bottom:1px solid rgba(0,0,0,0.09)
}
.data-item{
    padding: 10px;
}
.sidebar{
    /* padding: 10px; */
        /* width: 10%; */
    /* background: rgba(0,0,0,0.08); */
    /* padding-top: 10px; */
    height: 100vh;
    width: 15%;
    z-index: 100;
    /* border-right:1px solid rgba(0,0,0,0.08) */
}

.item .inner_block{
    font-size: 15px;
    padding: 0.5rem 1.2rem;
    line-height: 1.5;
    cursor: pointer;
    display: flex;
}

.item :hover{
    /* border-right: 3px solid #00d1b2; */
    /* background-color: white; */
    /* background-color: lightblue; */
}

._side{
position: fixed;
width: 15%;
height: 100%;
/* background:  rgba(0,0,0,0.08); */
padding-top:10px;
border-right: 1px solid rgba(0,0,0,0.08);
background: white;
/* box-shadow:1px 1px 5px rgba(0,0,0,0.2) */
}

.item .label{
    color:rgba(0,0,0,0.2);
    margin-left: 10px;
}

.icn-block{
    width: 20px;
}
.active .label{
    color:black
}
.item .icon_{
    color: rgb(197, 196, 196);
}

.active .icon_{
    color: black;
}

._side .item:hover{
    background-color: white;
    color: red;
    border-right: 1px solid #00d1b2;
}


._side ._item_:hover{
    background-color: white;
    /* color: red; */
    border-right: 3px solid red;
}


._side .active{
    /* background-color: white; */
    border-right: 3px solid #00d1b2;
    background:linear-gradient(to right,#00c4a7,white)
}


.navbar-brand{
    width: 10%;       
}
.es_{
    display: flex;
}
.c_brand{
    display: inline;
}
._side .item{
    flex:auto
}
.main_content{
    min-height: 3.5rem;
}

._foot{
    height: 0;
}
@media only screen and (max-width: 600px) {
    ._foot{
        height: 50px;
    }
    ._item_{
        display: none;
    }
    /* .main_content{
        min-height: 0;
    } */
    ._side .item:hover{
        background-color: white;
        /* color: red; */
        border-right: none;
    }
    ._side .item{
        flex:1 1 20%
    }
    
    ._side .active{
        /* background-color: white; */
        border-right: none;
        background:linear-gradient(to top,#00c4a7,white)
    }

    .item .label {
        /* color: rgba(0,0,0,0.2); */
        margin-left: 0;
    }


    .c_brand{
        display: none;
    }
    .es_{
        display: initial;
    }
    .cnavbar-item {
        visibility: inherit;
        width: auto;
    }
    .navbar-brand{
        width: auto;
    }
    .sidebar{
        background: white;
        /* display: none; */
        height: auto;
        /* width: auto; */

        position: fixed;
        width: 100%;
        bottom: 0;
    }


    ._side{
        position: initial;
        width: auto;
        height:auto;
        display: flex;
        padding-top: 0;
        border-top: 1px solid rgba(0,0,0,0.1);  
        box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.8);
        /* margin-top: 47px; */
    }
    .item .inner_block {
        font-size: 15px;
        padding: 0.5rem 0.75rem;
        line-height: 1.5;
        cursor: pointer;
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}